
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}

body{
    /* background-color: #f1f1f2; */
    background-position: center;
    background-size: cover;
    
   
}


/* Add a black background color to the top navigation */
.topnav {
  background: #28293E;
 
    overflow: hidden;
    /* margin-left: 0%; */
width: 100%;
    /* float: right; */
    /* margin-top: 1.5%; */
    
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
margin-left: 30%;
    /* display: block; */
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 4%;
    margin-top: 1.5%;
    
  }
 
  .topnav a:hover {
    background-color: #EF6D58;;
    color: white;
  }

  .topnav a.active {
    background-color:#EF6D58;
    color: white;
  }
 
  .topnav .icon {
    display: none;
    /* color: #0f0f0f;
    background-color: #FFFFFF; */
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;
      border: 1px solid #EF6D58;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
     
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;

    }
    .topnav {
      background: #28293E;
     
        overflow: hidden;
    width: 25.78rem;
    }
  }
  